/* 노말라이즈 */
body, ul, li {
    margin: 0; padding: 0;
    list-style: none;
}

a {
    color: inherit; text-decoration: none;
    display: block;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

/* 헤더 시작 */
header, footer { 
    width: 100%; height: 100px;
    background-color: rgb(226, 224, 224); 
}

.inner {
    width: 1200px; 
    height: 100%;
    margin: auto;
    display: flex;
}

.logo-box {
    width: 200px;
    align-self: center;
}

.menu-box {
    flex-grow: 1;
    position: relative;
    z-index: 1;
}

/* 1차 메뉴 */
.menu-box > ul {
    position: absolute;
    display: flex;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.menu-box > ul > li {
    width: 200px;
    background-color: rgb(49, 97, 116);
    position: relative;
}

.menu-box > ul > li > a {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.menu-box > ul > li > a:hover {
    background-color: rgb(59, 59, 59);
}

/* 2차 메뉴 */
.menu2 {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

.menu2 > li {
    width: 200px;
    background-color: #fff;
}

.menu2 > li > a {
    font-size: 14px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.menu2 > li > a:hover {
    background-color: #a7a7a7;
}
/* 헤더 끝 */


/* 메인 시작 */
.wrap {
    width: 1200px; margin: auto;
}

/* 슬라이드 */
.slide-box { 
    height: 300px;
    overflow: hidden;
}

.slide-box > .slide-3600 {
    width: 3600px;
    /* display: flex; */
}

.slide-box > .slide-3600 > ul {
    display: flex;
}

.slide-box > .slide-3600 > ul > .slide {
    width: 1200px;
    flex-shrink: 0;
    height: 300px;
    position: relative;
}

.slide-box a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    width: 500px;
    text-align: center;
    background-color: rgb(40, 40, 40, 0.5);
    color: #fff;
}

/* 콘텐츠 */
.content {
    height: 200px;
    display: flex;
}

.box1 {
    width: 400px;
}

.box2, .box3 {
    flex-grow: 1; flex-basis: 0;
}



    